
:root{
    --primary-color:#09cee4;
}
body{
    background-color: var(--primary-color);
}
h1{
    font-weight: bold;
}
.container{
    text-align: center;
    margin: auto;
    padding: 2rem;
}
label{
    display: block;
}
input{
margin: 1rem;
padding: 0.3rem;
border-radius: 0.2rem;
}
.table-content{
    margin-top: 5rem;
}

table {
    width: 50%;
    font-size: large;
    text-align: center;
    margin: auto;
    display: none;
}
.no.of.notes{
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    color: #242b2e;
    /* padding: 2rem; */
}
.tableHead {
    border: 1px solid red;
}
td{
    border: 1px solid black;
    padding: 1rem;
}
  #btn-check{
    border-radius: 1rem;
    padding:0.5rem 1rem;
}

#CashBox{
    padding-top: 1rem;
}